

<table class="table table-bordered text-center table-condensed">

<tr>

<td>排序：<%= link_to "最後回覆", :order => "latesttime" %> | <%= link_to "最多人回覆", :order => "num" %> | <%= link_to "瀏覽人數", :order => "view" %></td>

<td>作者</td>

<td>回覆/瀏覽人數</td>

<td>最後回覆</td>

</tr>

<% @topics.each do |t| %>

<tr>

	<td><%= link_to "#{t.title}", topic_path(t) %></td>
	<td><%= link_to "#{t.user.try(:short_name)}",user_info_topics_path(:uid => t.user)%></td>
	<td><%= t.try(:num)%>/<%=t.view%></td>
	<td><%= t.try(:latesttime) %></td>

</tr>

<% end %>

</table>
<%= paginate @topics %>
