
<% if current_user %>
	hi! <%= current_user.email %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改個人資料', edit_registration_path(:user)) %> |
  <%= link_to('查看我的發文', user_path(current_user))%> |
  <%= link_to('收藏的文章', collect_list_user_path(current_user))%> |
  
  <% if current_user.admin? %>
		<%= link_to('管理後台',admin_categories_path)%>
  <% end %>

<% else %>
	<%= link_to('註冊', new_registration_path(:user)) %> |
  <%= link_to('登入', new_session_path(:user)) %> |
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
      



<div>
</br>
<%= link_to("發文", new_topic_path , :class => "btn btn-warning btn-sm") %>
</div>

<div>

<%= link_to "所有主題", topics_path %> |

<% @categories.each do |c| %>

<%= link_to "#{c.name} ", topics_path( merge_topics_params(:cid => c ) ) %> |

<% end %>

</div>


<%= render :partial => 'topiclist' %>