
<div>
<%= link_to '返回列表', :back ,:class => "btn btn-info btn-xs"%>
</div>

<div class="manipulate-topic">

	<% if current_user? || admin? %>
		<%= link_to '編輯文章', edit_topic_path,:class=>"btn btn-warning btn-sm" %>
		<%= link_to '刪除文章', topic_path(@topic.id),:class=>"btn btn-danger btn-sm", :method => :delete,:data => { :confirm => "確定刪除？"} %>
	<%end%>


	
	
		<% if @favorite %>
				<%= link_to '取消收藏此文章', collect_topic_path(@topic),:id=>"btn-collect",:remote=>true,:class=>"btn btn-primary btn-sm", :method => :post %>
		<%else%>
				<%= link_to '收藏', collect_topic_path(@topic),:id=>"btn-collect",:remote=>true,:class=>"btn btn-primary btn-sm", :method => :post %>
		<%end%>

		
		<% if @like %>
			<%= link_to 'Unlike', like_topic_path(@topic),:id=>"btn-like",:remote=>true,:class=>"btn btn-default btn-sm", :method => :post %>
		<% else %>
			<%= link_to 'Like', like_topic_path(@topic),:id=>"btn-like",:remote=>true,:class=>"btn btn-default btn-sm", :method => :post %>
		<% end %>
		
		<div>	
	 		<span id="like-count"><%=@topic.like %></span><span>人覺得讚</span>
		</div>
	
	

</div>
</br>
<div class="fb-like" data-href="https://localhost:3000/topics/{@topic.id}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</br>
</br>
<div class="container">

	<div class="row topic-title">
		<% @topic.categories.each do |x| %>
			<span>[<%= x.name %>]</span>	
		<% end %>
		<span><%= @topic.title %></span>
	</div>
	
	<div class="row comment-box">

		<div class="col-md-2 cb-user">
			<div class="user-name"><%= @topic.user.short_name %></div> 
			<div class="user-picture"></div>
			<div class="user-interact"><%= link_to "加好友",friendship_path(:friend_id=>@topic.user_id) ,:class => "btn btn-priamry btn-sm", :method => :post %></div>
		</div>

		<div class="col-md-10 cb-content">
			<% if @topic.logo.exists? %>
				<%= image_tag(@topic.logo.url) %>
			<% end %>
			<p><%= @topic.content %></p>
		</div>

		
	
	<hr>


	</div>

 <% @comments.each do |c|%>
	<div class="row comment-box" id="comment-box-<%=c.id%>">
<!--		<div class="col-md-2 cb-user">
			<div class="user-name"><%= c.user.short_name %></div> 
			<div class="user-picture"></div>
			<div class="user-interact">
				
				<%= link_to "加好友",friendship_path(:friend_id=>c.user_id) ,:class => "btn btn-priamry btn-sm", :method => :post %>

			</div>
		</div>

		<div class="col-md-10 cb-content">
			<div class="create-at">
				發表於：<%=c.created_at.to_s(:db) %>
				<% if current_user == c.user %>
					<%= link_to "刪除",topic_comment_path(@topic,c),:remote=>true,:method =>:delete%>	
				<%end%>
			</div>
			
			<div class="content"><p><%= c.content %></p></div>
		</div>-->
		 <%= render :partial => "topic_comments/comment", :locals => { :c => c } %>
	</div>
<% end %>

	<div class="row comment-post">
	<%= form_for @comment,:remote => true ,:url => topic_comments_path(@topic) do |c|%>
	<div class="form-group">
	<%= c.label :content ,"留言" %></br>
	<%= c.text_area :content,:class=>"form-control",:rows=>8 %></br>
	</div>
  <%= c.submit "發表" ,:id =>"commit", :class => "btn btn-success" %>
 <% end %>
 </div>
</div>

