

<%= link_to '返回列表', :back %>

<% if @topic.user_id == current_user.id %>
	<%= link_to '編輯', edit_topic_path %>
	<%= link_to '刪除', topic_path(@topic.id), :method => :delete %>
<%else%>
	<% if @iscollect %>
	<%= link_to '收藏文章', collect_topics_path(:tid=>@topic.id), :method => :post %>
	<%else%>
	<%= link_to '取消收藏文章', collect_topics_path(:tid=>@topic.id), :method => :post %>
	<%end%>
<% end %>
<% if current_user.role == "admin"%>
	<%= link_to '刪除', topic_path(@topic.id), :method => :delete %>
<% end %>
</br>
<div class="fb-like" data-href="https://localhost:3000/topics/{@topic.id}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</br><%=@iscollect.inspect%>
<% @topic.categories.each do |x| %>
<span>[<%= x.name %>]</span>	
<% end %>

<h1><%= @topic.title %></h1>
	<p><%= @topic.content %></p>

	<hr>
	<% @comments.each do |c|%>
		<p><%= c.content %></p>
	<% end %>
	<hr>

	<%= form_for @comment ,:url => topic_comments_path(@topic) do |c|%>
	<div class="form-group">
	<%= c.label :content ,"留言" %></br>
	<%= c.text_area :content,:class=>"form-control",:rows=>8 %></br>
	</div>
  <%= c.submit "發表" , :class => "btn btn-success" %>
 <% end %>
