

<%= link_to '返回列表', :back %>

<% if @topic.user_id == current_user.id %>
	<%= link_to '編輯', edit_topic_path %>
	<%= link_to '刪除', topic_path(@topic.id), :method => :delete %>
<%else%>
	<% if @favorite %>
	<%= link_to '收藏文章', collect_topic_path(@topic), :method => :post %>
	<%else%>
	<%= link_to '取消收藏文章', collect_topic_path(@topic), :method => :post %>
	<%end%>
<% end %>
<% if current_user.role == "admin"%>
	<%= link_to '刪除', topic_path(@topic.id), :method => :delete %>
<% end %>
</br>
<div class="fb-like" data-href="https://localhost:3000/topics/{@topic.id}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</br>

<div class="container">

	<div class="row">
		<% @topic.categories.each do |x| %>
			<span>[<%= x.name %>]</span>	
		<% end %>
		<h1><%= @topic.title %></h1>
	</div>
	
	<div class="row">

		<div class="col-md-2">
			<div class="user-name"><%= @topic.user.short_name %></div> 
			<div class="user-picture"></div>
			<div class="user-interact"><a href="#" class="btn btn-primary btn-xs">加好友</a></div>
		</div>

		<div class="col-md-10">
			<% if @topic.logo.exists? %>
				<%= image_tag(@topic.logo.url) %>
			<% end %>
			<p><%= @topic.content %></p>
		</div>
		
	
	<hr>

	</div>

 <% @comments.each do |c|%>
	<div class="row">
		<div class="col-md-2">
			<div class="user-name"><%= c.user.short_name %></div> 
			<div class="user-picture"></div>
			<div class="user-interact"><a href="#" class="btn btn-primary btn-xs">加好友</a></div>
		</div>

		<div class="col-md-10">
				<p><%= c.content %></p>	
		</div>
	</div>
	<% end %>

	<%= form_for @comment ,:url => topic_comments_path(@topic) do |c|%>
	<div class="form-group">
	<%= c.label :content ,"留言" %></br>
	<%= c.text_area :content,:class=>"form-control",:rows=>8 %></br>
	</div>
  <%= c.submit "發表" , :class => "btn btn-success" %>
 <% end %>
</div>
