
<% if params[:uid].to_i == current_user.id.to_i %>

	<%= link_to "發佈的文章", :uid => current_user,:status => :t %>
	<%= link_to "草稿夾", :uid => current_user,:status => :f %>
<%else%>

<h3><%=@introduce.email%></h3>
	<div class="panel panel-success">
		<div class="panel-heading">
		個人介紹
		</div>
		<div class="panel-body">
		<%= image_tag @introduce.gravatar_url %>
		<%=@introduce.intro%>
		</div>
</div>
<% end %>

<div class="panel panel-info">
	<div class="panel-heading">
		文章
	</div>
	<div class="panel-body">
		<%= render :partial => 'topiclist' %>
	</div>

</div>