<div class="panel panel-info">
	<div class="panel-heading">
		收藏的文章
	</div>
	<div class="panel-body">
		<table class="table table-bordered text-center table-condensed">

			<tr>
				<td>標題</td>
				<td>作者</td>
			</tr>

		<% @topics_favorite.each do |t| %>

		<tr>
			<td><%= link_to t.title, topic_path(t) %></td>
			<td>
				<% if t.user %>
					<%= link_to t.user.short_name, user_path(t.user)%>
				<% end %>
			</td>
		</tr>

		<% end %>

		</table>
	<%= paginate @topics_favorite %>
	</div>

	<div class="panel-heading">
		按讚的文章
	</div>
	<div class="panel-body">
		<table class="table table-bordered text-center table-condensed">

			<tr>
				<td>標題</td>
				<td>作者</td>
			</tr>

		<% @topics_like.each do |t| %>

		<tr>
			<td><%= link_to t.title, topic_path(t) %></td>
			<td>
				<% if t.user %>
					<%= link_to t.user.short_name, user_path(t.user)%>
				<% end %>
			</td>
		</tr>

		<% end %>

		</table>
	<%= paginate @topics_like %>
	</div>


</div>