<table class = "table">
<% @beinvited.each do |f|%>

	<tr>
		<td><%=f.user.email%></td>
		<td><%= link_to "接受邀請", friendship_path(:fid=>f),:method => "put" %></td>
		<td><%= link_to "拒絕邀請", friendship_path(:fid=>f),:method => "delete" %></td>
	</tr>
<% end %>

</table>


<table class = "table">
<% @friends.each do |f|%>

	<tr>
		<td><%=f.friend.email%></td>
		<td>
			
			<% if f.status=="invite"%>
				<span>邀請中.....</span>
			<%else%>
				<%= link_to "刪除好友", friendship_path(:fid=>f),:method => "delete" %>
			<%end%>

		</td>
	</tr>
<% end %>

</table>