
	<div class="col-md-2 cb-user">
		<div class="user-name"><%= c.user.short_name %></div> 
		<div class="user-picture"></div>
		<div class="user-interact">
			
			<%= link_to "加好友",friendship_path(:friend_id=>c.user_id) ,:class => "btn btn-priamry btn-sm", :method => :post %>

		</div>
	</div>

	<div class="col-md-10 cb-content">
		<div class="create-at">
			發表於：<%=c.created_at.to_s(:db) %>
			<% if current_user == c.user %>
				<%= link_to "刪除",topic_comment_path(@topic,c),:remote=>true,:method =>:delete%>	
			<%end%>
		</div>
		
		<div class="content"><p><%= c.content %></p></div>
	</div>

